<div id="topics-main">
  <h1 id="topics-heading">Topics</h1>
  <% if user_is_authorized_for_topics? %>
    <div>
      <%= link_to "New Topic", new_topic_path, class: 'btn btn-success', id: 'new-topic-btn-top' %>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-8">
    <% @topics.each do |topic| %>
      <%= render partial: 'topic', locals: { topic: topic } %> 
    <% end %>
  </div>
</div>
