// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#questions-main {
  width: 340px;
}
#all-questions-heading {
  margin-right: 0;
  display: inline-block;
}
#new-question-btn-index {
  margin-top: 7%;
  float: right;
}
